<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <title>Can Read</title>
</head>
<body>
 <h1 class='text-center'>CanRead</h1>
<form role='form'>
 	<div class='form-group'>
 		<div class='row'>
 			<div class='col-xs-3'></div>
 			<div class='col-xs-6'>
		 		<input type="text" class='form-control' placeholder="Find a book">	
		 	</div>
		 	<button type="submit" class='btn btn-lg btn-primary'>Search</button>
	 </div>
</form>
</div>
<!--Spritz Reader/detail view below -->

</body>
</html>