<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>Can Read</title>


</head>
<body>

<h1 class='text-center'>CanRead</h1>

<div class="page" id="loginPage">
 <form role='form'>
 	<div class='form-group'>
 		<div class='row'>
 			<div class='col-xs-3'></div>
 			<div class='col-xs-6'>
		 		<input type="text" class='form-control' placeholder="Username" id="username">
		 		<input type="password" class='form-control' placeholder="Password" id="password">	
        <br /><br />
		 		<button type="submit" class='btn btn-lg btn-primary col-xs-12' id="login">Log In</button>
		 	</div> 	
	 	</div>
	 </div>
 </form>
</div>

<!--Spritz Reader/detail view below -->
<div class="page" id="spritzPage">
  <div class='row'>
    <div id="sprtiz_wrapper" class='col-xs-12 text-center'>
      <div id="spritzer" ></div>
      <br /><br /><br /><br /><br />
      <div class='col-xs-3'></div>
      <div class='col-xs-6 text-center'>
          <textarea id="inputText" rows="12" cols="70">Spritzing content from the web is also easy. All you need to do is publish content on the web, and our platform can transform it into Spritz Text. The default configuration simply extracts all text from the HTML at the target URL, but advanced configuration allows finer control using CSS-like selectors.</textarea>
          <p class="muted">
          Click the <b>Spritz!</b> button to start spritzing.<br>
            <small>To remove the text from the field, click the <b>Clear</b> button.</small>
          </p>
          <!-- <button class="btn btn-default" id="fill" type="submit">Fill</button> -->
          <div class='col-xs-1'></div> 
          <button class="btn btn-default col-xs-4" id="clear" type="submit">Clear</button>  
          <div class='col-xs-2'></div> 
          <button class="btn btn-primary col-xs-4" id="startSpritz" type="submit">Spritz!</button>
      </div>
      <div class='col-xs-3'></div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    var SpritzSettings = {
      clientId: "6c5714e3604dad3f5",
      redirectUri: "login_success.html",
      
    };
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>
  <script id="js-example-script" type="text/javascript" src="javascripts/testApp7.js"></script>

<!-- uploading documents -->
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id='upload' class='row'>
<div class='text-center'>
  <h1 >Upload What You Would Like To Read</h1>

  <div class='col-xs-4'></div>
  <form role='form' action='/upload_manual' method='POST' id='file-form'>
    <div class="form-group col-xs-8">
      <input type='file' name='file' id='file-select'>
    </div>
    <button type="submit" class='btn btn-lg btn-primary' id='upload-button'>Upload</button>
  </form>
  <br /><br /><br />
  <div id='documents'></div>
  </div>
</div>

<!-- this example's JS -->


<script src="/javascripts/index.js"></script>
</body>
</html>