
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" type="text/css" href="css/all.css">

	<!--
	Global settings for the examples. This must come before the spritzjs script tag
	for automatic setup.
	-->
	<script type="text/javascript">
		var SpritzSettings = {
			clientId: "6c5714e3604dad3f5",
			redirectUri: "/login_success",
			
		};
	</script>

	<!-- jQuery dependency -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>

</head>


<!-- this example's JS -->
<script type="text/javascript" src="http://sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>
<script id="js-example-script" type="text/javascript" src="javascripts/testApp7.js"></script>

  	<div id="spritzer"></div>
	
	<div>
	  	<textarea id="inputText" rows="12" cols="70">Spritzing content from the web is also easy. All you need to do is publish content on the web, and our platform can transform it into Spritz Text. The default configuration simply extracts all text from the HTML at the target URL, but advanced configuration allows finer control using CSS-like selectors.</textarea>
	  	<p class="muted">
	  		<small>Paste your own text into the field above or click the <b>Fill</b> button to load the sample text, and then click the <b>Spritz!</b> button to start spritzing.</small><br>
	  		<small>To remove the text from the field, click the <b>Clear</b> button.</small>
	  	</p>
	    <button class="btn btn-default" id="fill" type="submit">Fill</button>
	    <button class="btn btn-default" id="clear" type="submit">Clear</button> 	
	  	<button class="btn btn-primary" id="startSpritz" type="submit">Spritz!</button>
  	</div>
